{% extends "users/base1.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'blood_bank/css/success.css' %}">
    <div class="container">
        <div class="success-content">
            <div class="success-header">
                <div class="text-center">
                    <img src="{% static 'users/img/precautions.jpeg' %}" alt="Success Image">
                    <div class="quote">
                        <p>"Your gift of blood saves lives."</p>
                    </div>
                </div>
            </div>
            <div class="success-details">
                <div class="text-center">
                    <h2>Thank you for donating blood!</h2>
                </div>
                <p>Here are some important precautions and care tips to follow after blood donation:</p>
                <ul>
                    <li>Rest for at least 10-15 minutes after donation.</li>
                    <li>Stay hydrated by drinking plenty of water and avoiding alcohol.</li>
                    <li>Avoid strenuous activities for the rest of the day.</li>
                    <li>Do not smoke for at least 30 minutes after donating.</li>
                    <li>Enjoy a light snack and a non-alcoholic beverage provided by the blood bank.</li>
                    <li>If you experience any discomfort, inform the medical staff immediately.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
