
body{
    font-family: cursive;
    background-color: #FCFFE3;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(217,96,118,0.7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .container {
        max-width: 95%;
        padding: 15px;
    }
}

    
    @media screen and (max-width: 768px) {
        .container {
            max-width: 90%;
        }
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }

    .name{
        
        font-size: 24px; /* Font size */
        color: #fff; /* Text color */
        text-transform: uppercase; /* Uppercase text */
        color:#D96076;
    }
    .name-border{
        /* Background color for the logo container */
        padding: 10px; /* Padding around the logo */
        text-align: center;
        text-decoration: none;
    }
    .navbar nav {
        background:#FCFFE3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1800px;
        margin: 0 auto;
        padding: 0 20px;
        font-family: 'Copperplate';
        color: #D96076;
        
    }
    .navbar{
        background-color: #FCFFE3;
    }
    .icon{
        margin-right: 10px;
    }
    .logo {
        display: flex;
        align-items: center;
        color: #D96076;
    }
    
    .logo img {
        max-width: 50px; /* Set the width of your logo */
        margin-right: 10px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        
    }
    .nav-links:hover{
        text-decoration: underline;
    }
    .nav-links li {
        margin: 0 15px;
    }
    
    .nav-links a {
        color:#D96076;
        text-decoration: none;
        font-weight: bold;
    }
    .overlay{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        /* background-color:  rgb(217,96,118,0.4); */
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 768px) {
        .col-md-4 {
            display: none;
        }
        .col-md-6 {
            width: 100%;
        }
        .overlay {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .class {
        background: linear-gradient(rgba(1,1,1,0.3),rgba(1,1,1,0.3)), url("");
    }