body{
    background-color:#FCFFE3;
    font-family: cursive;
    color:#248f98;
}
h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color:black;
}

th {
    background-color: #d5e8e6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}



.name{
font-family: "Arial", sans-serif; /* Font family */
font-size: 24px; /* Font size */
color: #fff; /* Text color */
text-transform: uppercase; /* Uppercase text */
color:#D96076;
}

.name-border{
/* Background color for the logo container */
padding: 10px; /* Padding around the logo */
text-align: center;
}
.name-border a{
    text-decoration: none;
}

.name-border a {
    /* color:#248f98; */
    text-decoration: none;
    font-weight: bold;
    }
.name-border a:hover {
    text-decoration: underline;
    color:#D96076;
}
.navbar{
background-color: #FCFFE3;
}
nav {
background:#FCFFE3;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1800px;
margin: 0 auto;
padding: 0 20px;
font-family: 'Copperplate';
color: #D96076;

}
.icon{
margin-right: 10px;
}
.logo {
display: flex;
align-items: center;
color: #D96076;
}

.logo img {
max-width: 50px; /* Set the width of your logo */
margin-right: 10px;
}

.nav-links {
list-style: none;
display: flex;

}
.nav-links:hover{
text-decoration: underline;
}

.nav-links li {
margin: 0 15px;
}

.nav-links a {
color:#D96076;
text-decoration: none;
font-weight: bold;
}

.content {
max-width: 1200px;
margin: 20px auto;
padding: 20px;
}

.icon-container {
display: flex;
justify-content: space-around;

padding: 10px;
height: 200px;
}

.icon-item {
text-align: center;

}
.icon-item img{
height:100px;
}
.icon-item i {
font-size: 24px;
}

.icon-item span {
font-size: 14px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

